<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Spring Blog | Viewing One Post')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div>
    <div th:text="${postID}">ID</div>
    <div th:text="${newPost.title}">Title</div>
    <div th:text="${newPost.body}">Description</div>
    <a th:href="@{|/posts/edit/${postID}|}">Edit Post</a>
    <form th:action="@{|/posts/delete/${postID}|}" th:method="post">
        <button type="submit">Delete</button>
    </form>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>